<center>
    <div style="border:1px solid; width:400px; height:250px; padding-top:250px; background:#F0F0F0;">
        <div style="border-top:1px solid; padding-left:200px; background:#B3F989;" align="center">
            <div style="border-left:1px solid;" align="center">
                <div style="height:50%; padding-left:50%; background:#BBBBBB;">
                    <div style="border-left:1px solid; height:100%; background:#F30928;" align="center">
                        <div align="center">
                            <div style="height:50%; padding-left:50%; background:#FFF;">
                                <div style="border-left:1px solid; height:100%; padding-left:50%; background:green;">
                                    
                                </div>
                            </div>
                            <div style="border-top:1px solid; height:49%; background:pink;"></div>
                        </div>
                    </div>
                </div>
                <div style="border-top:1px solid; height:49%; background:#71BFFF;"></div>
            </div>
        </div>
    </div>
</center>